@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
html {
  font-size: 10px;
}
body {
  font-family: "League Spartan";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.theme1 {
  background-color: #3a4663;
}
.theme2 {
  background-color: #e6e6e6;
}
.theme3 {
  background-color: #17062a;
}
header {
  display: flex;
  gap: 342px;
  margin-top: 96px;
}
#title {
  font-size: 3.2rem;
  letter-spacing: -0.53px;
  margin: 10px 0px 0px;
}
span {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 6px;
}
.theme1 span {
  color: #fff;
}
.theme2 span {
  color: #36362c;
}
.theme3 span {
  color: #ffe53d;
}
header div {
  display: flex;
  align-items: flex-end;
  gap: 26px;
}
.change {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.changeNums {
  margin: 0px 0px 0px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  letter-spacing: 18px;
}
#switch {
  margin: 0px;
  width: 71px;
  height: 26px;
  border-radius: 13px;
  -webkit-appearance: none;
  appearance: none;
}
.theme1 #switch {
  background-color: #242d44;
}
.theme2 #switch {
  background-color: #d2cdcd;
}
.theme3 #switch {
  background-color: #1e0936;
}
#switch::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 1px;
  cursor: pointer;
}
.theme1 #switch::-webkit-slider-thumb {
  background-color: #d03f2f;
}
.theme2 #switch::-webkit-slider-thumb {
  background-color: #c85402;
}
.theme3 #switch::-webkit-slider-thumb {
  background-color: #00ded0;
}
#section {
  width: 540px;
  height: 128px;
  border-radius: 10px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.theme1 #section {
  background-color: #181f33;
}
.theme2 #section {
  background-color: #eeeeee;
}
.theme3 #section {
  background-color: #1e0936;
}
#display {
  margin: 40px 32px 0px 0px;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.93px;
  text-align: right;
}
.theme1 #display {
  color: #fff;
}
.theme2 #display {
  color: #36362c;
}
.theme3 #display {
  color: #ffe53d;
}
main {
  width: 540px;
  height: 480px;
  flex-grow: 0;
  border-radius: 10px;
  margin-bottom: 96px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.theme1 main {
  background-color: #242d44;
}
.theme2 main {
  background-color: #d2cdcd;
}
.theme3 main {
  background-color: #1e0936;
}

.buttonsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: 30px;
}
button {
  width: 101px;
  height: 64px;
  border-radius: 10px;

  border: none;

  font-size: 4rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.67px;
  text-align: center;

  font-family: "League Spartan";
}
.theme1 button {
  box-shadow: inset 0 -4px 0 0 #b3a497;
  background-color: #eae3dc;
  color: #434a59;
}
.theme2 button {
  box-shadow: inset 0 -4px 0 0 #a79e91;
  background-color: #e5e4e1;
  color: #36362c;
}
.theme3 button {
  box-shadow: inset 0 -4px 0 0 #881c9e;
  background-color: #331c4d;
  color: #ffe53d;
}
#delete {
  font-size: 2.8rem;
  letter-spacing: -0.47px;
  color: #fff;
}
.theme1 #delete {
  box-shadow: inset 0 -4px 0 0 #414e73;
  background-color: #647198;
}
.theme2 #delete {
  box-shadow: inset 0 -4px 0 0 #1b6066;
  background-color: #378187;
}
.theme3 #delete {
  box-shadow: inset 0 -4px 0 0 #be15f4;
  background-color: #56077c;
}
.theme1 #delete:hover {
  cursor: pointer;
  background-color: #a2b2e1;
}
.theme2 #delete:hover {
  cursor: pointer;
  background-color: #62b5bc;
}
.theme3 #delete:hover {
  cursor: pointer;
  background-color: #8631af;
}
.theme1 .number:hover {
  cursor: pointer;
  background-color: #fffffe;
}
.theme2 .number:hover {
  cursor: pointer;
  background-color: #fff;
}
.theme3 .number:hover {
  cursor: pointer;
  background-color: #6c34ac;
}
.footer {
  display: flex;
  gap: 24px;
}
#reset {
  width: 227px;
  font-size: 2.8rem;
  letter-spacing: -0.47px;
  color: #fff;
}
.theme1 #reset {
  box-shadow: inset 0 -4px 0 0 #414e73;
  background-color: #647198;
}
.theme2 #reset {
  box-shadow: inset 0 -4px 0 0 #1b6066;
  background-color: #378187;
}
.theme3 #reset {
  box-shadow: inset 0 -4px 0 0 #be15f4;
  background-color: #56077c;
}
.theme1 #reset:hover {
  cursor: pointer;
  background-color: #a2b2e1;
}
.theme2 #reset:hover {
  cursor: pointer;
  background-color: #62b5bc;
}
.theme3 #reset:hover {
  cursor: pointer;
  background-color: #8631af;
}
#equal {
  width: 227px;
  font-size: 2.8rem;
  letter-spacing: -0.47px;
  color: #fff;
}
.theme1 #equal {
  box-shadow: inset 0 -4px 0 0 #93261a;
  background-color: #d03f2f;
}
.theme2 #equal {
  box-shadow: inset 0 -4px 0 0 #873901;
  background-color: #c85402;
}
.theme3 #equal {
  box-shadow: inset 0 -4px 0 0 #6cf9f1;
  background-color: #00ded0;
  color: #1a2327;
}
.theme1 #equal:hover {
  cursor: pointer;
  background-color: #f96b5b;
}
.theme2 #equal:hover {
  cursor: pointer;
  background-color: #ff8a38;
}
.theme3 #equal:hover {
  cursor: pointer;
  background-color: #93fff8;
}
@media (max-width: 425px) {
  header {
    gap: 129px;
  }
  #section {
    width: 327px;
    height: 88px;
  }
  #display {
    font-size: 4rem;
    letter-spacing: -0.67px;
    margin: 29px 24px 0px 0px;
  }
  main {
    width: 327px;
    height: 420px;
    gap: 13px;
  }
  button {
    width: 60px;
    height: 64px;

    font-size: 3.2rem;
    letter-spacing: -0.53px;
  }
  .buttonsDiv {
    gap: 13px;
    margin-left: 24px;
  }
  #delete {
    font-size: 2rem;
    letter-spacing: -0.33px;
  }
  #reset {
    width: 133px;
    height: 64px;
    font-size: 2rem;
    letter-spacing: -0.33px;
  }
  #equal {
    width: 133px;
    height: 64px;
    font-size: 2rem;
    letter-spacing: -0.33px;
  }
  .footer {
    gap: 13px;
  }
}
